<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PuTra Trip Query</title>

</head>
<body>
<h2>Search for upcoming trips</h2>
<form action="#" th:action="@{/submit}" method="post">
    From: <input name="departure" type="text"><br />
    To: <input name="destination" type="text"><br />

    <button type="submit" value="submit">Find trips</button>
</form>
<form th:action="@{/savedTrips}">
    <button type="submit" value="View Saved Trips">View Saved Trips</button>
</form>
<h2>Receive alerts</h2>
<form action="#" th:action="@{/}" method="post">
    Station code: <input name="code" type="text"><br />
    <button type="submit" value="">Receive alerts</button>
</form>
<form th:action="@{/savedTrips}">
    <button type="submit" value="View Saved Trips">View Saved Trips</button>
</form>
<form th:action="@{/Alerts}">
    <button type="submit" value="View Alerts">View Alerts</button>
</form>
</body>
</html>